* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
	height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif ;
  background-color: #f6f1e6 !important;
  color: #333;
  min-height: 100%;
}

header {
  background-color: #baa251;
  color: #f6f1e6;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  
}
.imagen-logo {
  width: 150px;
  filter: drop-shadow(0px 0px 4px #f6f5f0);
}
.imagen-logo:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.active {
  background-color: #333333;
  color: white;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px !important;
  font-family: "Roboto Condensed", sans-serif !important;
  padding: 8px !important;
}

nav ul li a:hover {
  color: white;
  background-color: #333333;
  transition: color 0.2s ease-in-out;
}

.carrito {
  color: white;
  padding: 0 8px;
  
}

.carrito:hover {
  color: rgb(74, 74, 74);
  padding: 0 8px;
}

section {
  padding: 50px 0;
}
.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Questrial", sans-serif;
  padding: 1rem;
  background: #eeeeee;
  align-items: center;
  width: 100%;
}
#name {
  color: rgb(131, 35, 35);
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.8rem;
  color: #baa251;
}
.fa-chevron-left:hover,
.fa-chevron-right:hover {
  filter: drop-shadow(0px 0px 4px #d0a30f);
}

.product-container,
#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtroCheck {
  padding-top: 1rem;
}

.checkCategoria {
  font-family: "Roboto Condensed", sans-serif;
}
.checkCuadro:checked {
  background-color: goldenrod !important;
  border-color: goldenrod ;
  box-shadow: none !important;
}
.checkCuadro, .inputSearch {
  box-shadow: none !important;
  border-color: rgb(209, 206, 206) !important;
  cursor: pointer;
}
.lupa{
  rotate: 360deg;
}



.product {
  margin: 10px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.product img {
  max-width: 100%;
}

.product h3 {
  margin-top: 1rem;
  height: 8%;
  font-size: 1.2em;
  text-align: center;
  color: rgb(131, 35, 35);
  font-family: "Roboto Condensed", sans-serif;
}

.product p {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #767575;
  font-family: "Roboto Condensed", sans-serif;
}

.product .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #261c15;
  font-family: "Roboto Condensed", sans-serif;
}

.btn {
  display: block;
  padding: 6px;
  background-color: #baa251 !important;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #d0a30f !important;
  /* color: white; */
}

.item {
  margin-bottom: 1rem;
  align-items: center;
}

footer {
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  background-color: #ffffff;
  margin-top: auto;
}
.text-white i {
  color: white !important;
  font-size: 27px;
  background-color: #baa251;
  padding: 7px;
  border-radius: 20px;
}
.text-white i:hover {
  background: #d0a30f;
}
.me-5 {
  font-family: "Questrial", sans-serif;
  display: flex;
  align-items: center;
}

.ceroResult{
  font-size: 25px;
  color: rgb(131, 35, 35);
  font-family: "Questrial", sans-serif;
  padding-top: 4rem;
}
.searchContainer{
  display: none !important;
}

/* //Estilos para contactos */


.tituloForm{
	font-size:28px;
	color:#9a1616 !important;
	padding-top: .5rem;
}
small{ font-size:10px;}
b, strong{ font-weight:bold;}


form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container { 
	margin: auto; 
	position: relative; 
	width: 900px; 
	}
#content {
	background: #fffefe;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 2rem auto 0;
	padding: 1rem 0;
	position: relative;
	text-align: center;
	/* text-shadow: 0 1px 0 #fff; */
	width: 400px;
}
#content h1 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin:10px 0;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 .5rem 2rem;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 100px;
}
#content form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
