/* Estilos para contactos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


.contact-box {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 1%;
}
.contact-form-wrapper {
	width: 40%;
	padding: 4% 3% 3%;
  border: 1px solid rgb(131, 35, 35) !important;
  background-color: #ffffff8f;
  border-radius: 10px;
  }

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
    
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.form-item {
  position: relative;
  border: 1px solid rgb(255, 254, 252) !important;
  border-radius: 5px;  
  margin: 2%;
}

.placeholder, .input-date{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem !important;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;  
  pointer-events: none;
  /* user-select: none; */
  background: transparent;  
}

.input-date {
  width: 100%;
  outline: 0;
  border: 1px solid rgb(131, 35, 35);
  border-radius: 4px;
  margin-bottom: 22px;     
}
.placeholder {
	width: 100%;
	outline: 0;	
	border-radius: 4px;	
	padding: 5px 10px;
  }
  

.input-date:focus+.placeholder, 
.input-date:valid+.placeholder, 
textarea:focus+.placeholder, 
textarea:valid+.placeholder {  
  color: #4d4b4b;
  top: -26px;
  transition: all .225s ease;
}


.form_input {
  font-family: "Questrial", sans-serif;  
  color: rgb(90, 88, 88);
  width: 100%;
  border: 1px solid rgb(100, 100, 100) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#email,
#comentario,
#nombre {
  width: 100%;   
  border: 1px solid rgb(100, 100, 100) !important;
  border-radius: 10px;
  padding: 1rem;
}

#type,
#date {
  width: 100%;  
  border-radius: 10px !important;
  border: 1px solid rgb(100, 100, 100) !important;  
  color: rgb(116, 111, 111);
  padding: 1rem;
  
}

.boton {
  margin-left: 1rem;
  border-radius: 20px;
  padding: 0.5rem;
  border-color: transparent;
  font-size: 1.1rem;
}
.fa-paper-plane,
.fa-arrow-rotate-right {
  padding-left: 0.3rem;
  font-size: 0.8rem;
}
.boton:hover {
  font-weight: bold;
  box-shadow: 0px -2px 27px 1px rgba(245, 245, 245, 0.49);
  -webkit-box-shadow: 0px -2px 27px 1px rgba(245, 245, 245, 0.49);
  -moz-box-shadow: 0px -2px 27px 1px rgba(245, 245, 245, 0.49);
}
.error-mostrar {
  border: 1px solid rgb(131, 35, 35) !important;
}
.correcto {
  border: 1px solid rgb(73, 71, 71) !important;
}

.custom-button {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
  height: 10% !important;
  width: 30% !important;
  font-size: 1.5rem !important;
  color: #7e7c7d !important;
}
.custom-container {
  font-family: "Questrial", sans-serif !important;
  color: white !important;
}
.btnColor {
  color: rgb(28, 27, 27) !important;
}
.tituloAlert {  
  color: floralwhite !important;
}
