
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;

}

* {
  outline: none;
  --color1: #721422;
}

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    overflow-y: auto;
  }

  .imagen-logo {
    width: 100px !important;
    filter: drop-shadow(0px 0px 4px #f6f5f0);
  }
  .imagen-logo:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
  }
  .navbar-toggler {
    background-color: goldenrod;    
  }

  .navbar-nav {
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
  }

  nav ul li a{
    font-size: 1.65rem !important;
  }
.contenedorDetalles{
  width: 100%;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-left .layers {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.hero-left .layers .layer {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0;
}

.hero-left .layers .layer.layer-displayed {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}


.hero-left .layers .layer > span {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 10%;
}

.hero-left .layers .layer__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  height: 90%;;
}
.hero-left .layers .layer__info {
  display: flex;
  font-size: 1.5rem;
}

.hero-left .layers .layer__info div:first-child {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
  align-items: flex-start;
  padding-left: 2rem;
  
}

.detallesVinos{
  display: flex;
  flex-direction: row;
}



.hero-right {
  position: relative;
  overflow: hidden;
}



.hero-right > .layer.layer-displayed {
  transform: translateX(0);
  z-index: 2;
}



.hero-right > .layer:nth-child(1) {
  background-color: var(--color1);
}


.hero-right .photo-name {
  position: absolute;
  top: 3%;
  left: 45%;
  width: 50%;
  font-size: 1.1rem;
  z-index: 2;
}


.hero-right .photo-name__title {
  color: white;

  
}

.hero-right .photo-name .layer {
  padding: 10px;
  transform: translateX(-100%);
  transition: transform .5s cubic-bezier(.55, 0, .1, 1);
}

.hero-right .photo-name .layer.layer-displayed {
  transform: translateX(0);
  transition-delay: .5s;
}

/* #fotoUva{
  border-radius: 0 0 9rem;
} */

.hero-right .photo-frame {
  position: absolute;
  overflow: hidden;
}

.hero-right .photo-frame:nth-child(4) {
  top: 5%;
  left: 5%;
  width: 40%;
  height: 40%;
  z-index: 3;
}

.hero-right .photo-frame:last-child {
  top: 50%;
  left: 10%;
  width: 80%;
  height: 45%;
  z-index: 2;
}


.hero-right .photo-frame .layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition-delay: .5s;
}

.hero-right .photo-frame .layer.layer-displayed {
  opacity: 1;
}


footer {
	margin-top: auto;
}

