@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --default-seconds: 3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.flex-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 4rem;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .flex-title {
    transform: rotate(0deg) !important;
  }
}

.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 85%;
  font-size: 1rem;
  padding: 3%;
  top: 15%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f1;
    font-size: .9rem;
  }
}

.flex-slide {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
}

.flex-slide p {
  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
}


.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://firebasestorage.googleapis.com/v0/b/vinoteca-647c0.appspot.com/o/nosotras%2Fweinguter-auf-mallorca.jpg?alt=media&token=db2a7545-bf39-446c-96d3-6a63bc133bdb);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .home {
    animation: aboutFlexSlide var(--default-seconds) 1;
    animation-delay: 0s;
  }
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

.flex-title-home {
  @media screen and (min-width: 768px) {
    transform: rotate(90deg);
    top: 15%;
    animation: aboutFlexSlide var(--default-seconds) 1;
    animation-delay: 0s;
  }
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}

.flex-about-home {
  opacity: 0;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide var(--default-seconds) 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://firebasestorage.googleapis.com/v0/b/vinoteca-647c0.appspot.com/o/nosotras%2Fe64daf66f3302f3309fbf9c2c26800593f03621d885e59c8_840.jpg?alt=media&token=56fa79c0-c0ee-4aea-bc8b-7a8ae3a053d4);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contact-form {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://firebasestorage.googleapis.com/v0/b/vinoteca-647c0.appspot.com/o/nosotras%2F1444209788.jpg?alt=media&token=e16e84fb-6725-47c1-8b12-e4e6e626c674);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://firebasestorage.googleapis.com/v0/b/vinoteca-647c0.appspot.com/o/nosotras%2F1653064295542.webp?alt=media&token=da2b74ba-d0cb-4929-971c-f8b1b45b40d9);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40%;
  left: 40%;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  animation-delay: -0.9s;
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}