* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
	height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif ;
  background-color: #f6f1e6 !important;
  color: #333;
  width: 100%;
  min-height: 100%;
}

header {
  background-image: url('../img/fondoNav.jpg');
  background-repeat: repeat;
  color: #f6f1e6;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  
}
.imagen-logo {
  width: 100px;
  filter: drop-shadow(0px 0px 4px #f6f5f0);
}
.imagen-logo:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.active {
  background-color: #333333;
  color: white;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px !important;
  font-family: "Roboto Condensed", sans-serif !important;
  padding: 8px !important;
}

nav ul li a:hover {
  color: white;
  background-color: #333333;
  transition: color 0.2s ease-in-out;
}

.carrito {
  color: white;
  padding: 0 8px;
  display: flex;
  align-items: center;  
}

.carrito:hover {
  color: rgb(74, 74, 74);
  padding: 0 8px;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Great Vibes', cursive;  
  padding: 1rem;
  background: #f6f1e6;
  align-items: center;
  width: 100%;
}
#name {
  color: rgb(131, 35, 35);
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.8rem;
  color: #d0a30f;
}
.fa-chevron-left:hover,
.fa-chevron-right:hover {
  filter: drop-shadow(0px 0px 4px #baa251);
}

.product-container,
#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtroCheck {
  padding-top: 1rem;
}

.checkCategoria {
  font-family: "Roboto Condensed", sans-serif;
}

.checkCuadro, .inputSearch {
  box-shadow: none !important;
  border-color: rgb(209, 206, 206) !important;
  cursor: pointer;
}
.lupa{
  rotate: 360deg;
}

.product {
  margin: 10px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.product img {  
  max-width: 100%;
  height: 62%;
}

.product h3 {
  margin-top: 1rem;
  height: 5%;
  font-size: 1.2em;
  text-align: center;
  color: rgb(131, 35, 35);
  font-family: "Roboto Condensed", sans-serif;
}

.product p {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #767575;
  font-family: "Roboto Condensed", sans-serif;
}

.product .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #261c15;
  font-family: "Roboto Condensed", sans-serif;
}

.btn {
  display: block;
  padding: 6px;
  background-color:goldenrod !important;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #d0a30f!important; 
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0;
  align-items: center;
}
.item .botonCarrito{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  padding: 6px;
  background-color:goldenrod !important;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.item .botonCarrito:hover{
  background-color: #d0a30f!important;
  color: black;
}

footer {
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  background-color: #ffffff;
  margin-top: auto;
}
.text-white i {
  color: white !important;
  font-size: 27px;
  background-color: goldenrod;
  padding: 7px;
  border-radius: 20px;
}
.text-white i:hover {
  background: rgb(131, 35, 35);
}
.me-5 {
  font-family: "Questrial", sans-serif;
  display: flex;
  align-items: center;
}

.ceroResult{
  font-size: 25px;
  color: rgb(131, 35, 35);
  font-family: "Questrial", sans-serif;
  padding-top: 4rem;
}
.searchContainer{
  display: none !important;
}





