* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
	height: 100%; 
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif ;
  background-color: #f6f1e6 !important;
  color: #333;
  width: 100%;
  min-height: 100%;
}

header {
  background-image: url('../img/fondoNav.jpg') !important;
  background-repeat: repeat;
  color: #f6f1e6 ;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

.imagen-logo {
  width: 100px;
  filter: drop-shadow(0px 0px 4px #f6f5f0);
}
.imagen-logo:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}
.navbar-toggler {
  background-color: goldenrod;
}


nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;   
}

.navbar-collapse {
  justify-content: end !important;
}
.navbar-nav {
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.fondoCarrito{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: goldenrod;
  width: 2.5rem;
  border-radius: 50%;
  height: 2.5rem;    
}

.fondoCarrito:hover{
background-color: #33333373;

}

.active {
  background-color: #333333;
  color: white;
}

nav ul li a {  
  text-decoration: none;
  font-size: 1rem !important;
  font-family: "Roboto Condensed", sans-serif !important;
  padding: 4px !important;
  color: #f6f1e6 !important;
}

nav ul li a:hover {
  color: white; 
  transition: color 0.2s ease-in-out;
}

.carrito {
  color: white;
  display: flex;
  align-items: center;  
  
}

.titulo {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Great Vibes', cursive;  
  padding: 1rem;
  background: #f6f1e6;
  align-items: center;
  width: 100%;
}
#name {
  color: rgb(148, 4, 4);
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.8rem;
  color: #d0a30f;
}
.fa-chevron-left:hover,
.fa-chevron-right:hover {
  filter: drop-shadow(0px 0px 4px #baa251);
}

.product-container,
#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtroCheck {
  padding-top: 1rem;
}

.checkCategoria {
  font-family: "Roboto Condensed", sans-serif;
}

.checkCuadro, .inputSearch {
  box-shadow: none !important;
  border-color: rgb(209, 206, 206) !important;
  cursor: pointer;
  margin-right: .5rem;
}

#checkcategories {
  margin: 1rem 0;
}

#select {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
  color: #333;
  background-color: goldenrod;
  transition: box-shadow 0.3s ease;
  height: 2.2rem;
}

#select:focus {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
}

.lupa{
  rotate: 360deg;
}

.product {
  margin: 10px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


.product h3 {
  margin-top: 1rem;
  height: 5%;
  font-size: 1.2em;
  text-align: center;
  color: rgb(148, 4, 4);
  font-family: "Roboto Condensed", sans-serif;
}

.product p {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #767575;
  font-family: "Roboto Condensed", sans-serif;
}

.product .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #261c15;
  font-family: "Roboto Condensed", sans-serif;
}

.btn {
  display: block;
  padding: 6px;
  background-color:goldenrod !important;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #d0a30f!important; 
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0;
  align-items: center;
}
.item .botonCarrito{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  padding: 6px;
  background-color:goldenrod !important;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.item .botonCarrito:hover{
  background-color: #d0a30f!important;
  color: black;
}

footer {
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.42);
  background-color: #ffffff;
  margin-top: auto;
}
.text-white i {
  color: white !important;
  font-size: 27px;
  background-color: goldenrod;
  padding: 7px;
  border-radius: 20px;
}
.text-white i:hover {
  background: rgb(148, 4, 4);
}
.me-5 {
  /* font-family: "Questrial", sans-serif; */
  display: flex;
  align-items: center;
}

.ceroResult{
  font-size: 25px;
  color: rgb(148, 4, 4);
  font-family: "Questrial", sans-serif;
  padding-top: 4rem;
}
.searchContainer{
  display: none !important;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(148, 4, 4);
  border: 3px solid rgb(107, 15, 15) ;
  color: #F3EED9;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 10px #F3EED9;
  box-shadow: 4px 4px 10px #F3EED9;
}

.subir:hover{
  color: #ff4444;
}

/* Estilos para el contenedor del carrito */

#contendorCarrito{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; 
  padding: 1rem;
} 

#carrito-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap; 
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: start;
}

/* Estilos para los productos en el carrito */
.producto-carrito {
  align-items: center;
  text-align: center;
  padding: .5rem;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: .5rem;
}

.producto-carrito h4 {
  margin-top: 0;
}

.producto-carrito p {
  margin-bottom: 5px;
}

#vaciar-carrito-btn{
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  

}
#vaciar-carrito-btn:hover{
  background-color: #ff0000;
}

.eliminar-btn {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

}

.eliminar-btn:hover {
  background-color: #ff0000;
}
.producto-imagen {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
}

#total-pagar {
  font-weight: bold;
  margin-top: 10px;
}
#total-pagar-valor {
  font-size: 18px;
}

#cupon-input {
  width: 63%;
  padding: 8px;
  margin-right: .5rem;
  
}

#aplicar-cupon-btn,
#pagar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
  
}

#aplicar-cupon-btn:hover,
#pagar-btn:hover {
  background-color: #45a049;
}

.cantidad-btn{
  display: inline-block;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
  width: 30px;
  margin: 10px;
  background: #ff4444;
  border: none;
}
.cantidad-btn:hover {
  color: white;
  background-color: #ff0000;
}

.carrito-info{
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
}